/* оформление главной страницы */
body{
font-family:New Century Schoolbook;
padding: 0px;
margin: 0px;
}


.site {
background: #FAEBD7 url(images/new_background.jpeg) ;
background-size: cover;
background-attachment: fixed;
color: white;
}


header {
background: #FAEBD7;
display: inline;
}

.recipe{
display:inline;
color: #FFFFE0;

}

p{
font-size: 16px;
font-family:;
}

.nav{
/* сдвинуть навигацию до конца впрво*/

}

a {
text-decoration:none ;
color: black;
}

.logo {
/* отформатировать логотип */
}

h2 {
font-size: 32px;
}

button {
background-color: rgba(255, 255, 255, 0.5); /* Белый цвет с 50% прозрачностью */
  border: none;    /* Убирает границу */
  padding: 0;      /* Убирает отступы */
  cursor: pointer; /* Сохраняет курсор-указатель */
}

.img {
float: left;
}

.header {
padding: 5px;
margin: 5px;
background: #FAEBD7;
}