/* оформление главной страницы */
body{
background: #FAEBD7 ;
background-size: cover;
}

header {
display: inline;
}

.recipe{
display:inline;

}

p{
font-family:;
}

.nav{
/* сдвинуть навигацию до конца впрво*/
}